<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/include/header}"></th:block>

<head>
    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <!-- iamport.payment.js -->
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
    <script th:inline="javascript">       
        var IMP = window.IMP; 
        IMP.init("imp32588012"); 
        
        function generateMerchantUid() {
            var currentDate = new Date();
            var year = currentDate.getFullYear();
            var month = ('0' + (currentDate.getMonth() + 1)).slice(-2);
            var day = ('0' + currentDate.getDate()).slice(-2);
            var hours = ('0' + currentDate.getHours()).slice(-2);
            var minutes = ('0' + currentDate.getMinutes()).slice(-2);
            var seconds = ('0' + currentDate.getSeconds()).slice(-2);
            var milliseconds = ('00' + currentDate.getMilliseconds()).slice(-3);

            // 주문번호 형식: ORDYYYYMMDDHHmmssSSS (예: ORD20240404173015000)
            var merchantUid = 'ORD' + year + month + day + hours + minutes + seconds + milliseconds;

            return merchantUid;
        }
        
        // 주문 정보 설정
        var name = "Aeki";                        
          var amount = 100;
        var buyer_name = /*[[${session.user.name}]]*/ "";
        var email = /*[[${session.user.email}]]*/ "";

        function requestPay() {
           alert("결제연동 진입");
           var merchantUid = generateMerchantUid(); // generateMerchantUid() 함수 호출하여 merchantUid 변수에 할당
            IMP.request_pay({                
                pg: "html5_inicis",
                pay_method: "card",
                merchant_uid: merchantUid,   // 주문번호
                name: name,
                amount: amount,              // 숫자 타입
                buyer_name: buyer_name,
                buyer_email: email,
                    
            }, function (rsp) { // callback
                $.ajax({
                   type: 'POST',
                   url: '/verify/' + rsp.imp_uid
                }).done(function(data) {
                    if(rsp.paid_amount === data.response.amount){
                    	alert("결제 성공");
                        $.ajax({
                            type: 'GET',
                            url: '/orderInsert',
                            success:function(data) {
                               console.log("success");
                               console.log(data);
                               let url = '/myOrders';
                               console.log(url);
                               location.replace(url);
                            }
                            })
                    } else {
                        alert("결제 실패");
                    }
                });
            });                                    
        }    
    </script>
</head>
<body>        
      <!-- Start Hero Section -->
         <div class="hero">
            <div class="container">
               <div class="row justify-content-between">
                  <div class="col-lg-5">
                     <div class="intro-excerpt">
                        <h1>Cart</h1>
                     </div>
                  </div>
                  <div class="col-lg-7">
                     
                  </div>
               </div>
            </div>
         </div>
      <!-- End Hero Section -->   

      

      <div class="untree_co-section before-footer-section">
            <div class="container">
              <div class="row mb-5">
                <form class="col-md-12" method="post">
                  <div class="site-blocks-table">
                    <table class="table">
                      <thead>
                        <tr>
                          <th class="product-thumbnail">Image</th>
                          <th class="product-name">Product</th>
                          <th class="product-price">Price</th>
                          <th class="product-quantity">Quantity</th>
                          <th class="product-total">Total</th>
                          <th class="product-remove">Remove</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="cart : ${cart}">
                          <td class="product-thumbnail">
                            <img th:src="@{/images/__${cart.img}__}" alt="Image" class="img-fluid">
                          </td>
                          <td class="product-name">
                              <h2 class="h5 text-black" th:text="${cart.product}"></h2>
                          </td>
                          <td th:text="${#numbers.formatInteger(cart.price,3,'COMMA')}"></td>
                          <td class="text-center">
                       <div class="input-group mb-3 d-flex quantity-container justify-content-center align-items-center" style="max-width: 120px;">
                           <div class="input-group-prepend">
                               <a th:href="@{/minus(email=${cart.email},product=${cart.product})}" class="btn btn-outline-black decrease">&minus;</a>
                           </div>
                           <input type="text" class="form-control text-center quantity-amount" th:value="${cart.qty}" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                           <div class="input-group-append">
                               <a th:href="@{/add(email=${cart.email},product=${cart.product})}" class="btn btn-outline-black increase">&plus;</a>
                           </div>
                       </div>        
                    </td>
                          <td th:text="${#numbers.formatInteger(cart.price*cart.qty,3,'COMMA')}"></td>
                          <td><a th:href="@{/cart/remove(email=${cart.email},product=${cart.product})}" class="btn btn-black btn-sm">X</a></td>                          
                        </tr>                               
                      </tbody>
                    </table>
                  </div>
                </form>
              </div>
        
              <div class="row">
               
                <div class="col-md-6 pl-5">
                  <div class="row justify-content-end">
                    <div class="col-md-7">
                      <div class="row">
                        <div class="col-md-12 text-right border-bottom mb-5">
                          <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                        </div>
                      </div>                     
                      <div class="row mb-5">
                        <div class="col-md-6">
                          <span class="text-black">Total</span>
                        </div>
                        <div class="col-md-6 text-right">
                          <strong class="text-black" th:text="${total}"></strong>
                        </div>
                      </div>
        
                      <div class="row">
                        <div class="col-md-12">
                          <button class="btn btn-black btn-lg py-3 btn-block" onclick="requestPay()">Proceed To Checkout</button>                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
      <!-- Start Footer Section -->
      <footer class="footer-section">
         <div class="container relative">

            <div class="sofa-img">
               <img src="images/sofa.png" alt="Image" class="img-fluid">
            </div>

            <div class="row">
               <div class="col-lg-8">
                  <div class="subscription-form">
                     <h3 class="d-flex align-items-center"><span class="me-1"><img src="images/envelope-outline.svg" alt="Image" class="img-fluid"></span><span>Subscribe to Newsletter</span></h3>

                     <form action="#" class="row g-3">
                        <div class="col-auto">
                           <input type="text" class="form-control" placeholder="Enter your name">
                        </div>
                        <div class="col-auto">
                           <input type="email" class="form-control" placeholder="Enter your email">
                        </div>
                        <div class="col-auto">
                           <button class="btn btn-primary">
                              <span class="fa fa-paper-plane"></span>
                           </button>
                        </div>
                     </form>

                  </div>
               </div>
            </div>

            <div class="row g-5 mb-5">
               <div class="col-lg-4">
                  <div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">Furni<span>.</span></a></div>
                  <p class="mb-4">Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. Pellentesque habitant</p>

                  <ul class="list-unstyled custom-social">
                     <li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
                     <li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
                     <li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
                     <li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
                  </ul>
               </div>

               <div class="col-lg-8">
                  <div class="row links-wrap">
                     <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                           <li><a href="#">About us</a></li>
                           <li><a href="#">Services</a></li>
                           <li><a href="#">Blog</a></li>
                           <li><a href="#">Contact us</a></li>
                        </ul>
                     </div>

                     <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                           <li><a href="#">Support</a></li>
                           <li><a href="#">Knowledge base</a></li>
                           <li><a href="#">Live chat</a></li>
                        </ul>
                     </div>

                     <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                           <li><a href="#">Jobs</a></li>
                           <li><a href="#">Our team</a></li>
                           <li><a href="#">Leadership</a></li>
                           <li><a href="#">Privacy Policy</a></li>
                        </ul>
                     </div>

                     <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                           <li><a href="#">Nordic Chair</a></li>
                           <li><a href="#">Kruzo Aero</a></li>
                           <li><a href="#">Ergonomic Chair</a></li>
                        </ul>
                     </div>
                  </div>
               </div>

            </div>

            <div class="border-top copyright">
               <div class="row pt-4">
                  <div class="col-lg-6">
                     <p class="mb-2 text-center text-lg-start">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co">Untree.co</a> Distributed By <a hreff="https://themewagon.com">ThemeWagon</a>  <!-- License information: https://untree.co/license/ -->
            </p>
                  </div>

                  <div class="col-lg-6 text-center text-lg-end">
                     <ul class="list-unstyled d-inline-flex ms-auto">
                        <li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                     </ul>
                  </div>

               </div>
            </div>

         </div>
      </footer>
      <!-- End Footer Section -->   
      
   </body>

</html>