<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/include/header}"></th:block>

<link href="css/sign.css" rel="stylesheet">
<script src="js/sign.js"></script>		
<script th:inline="javascript">
var check = /*[[${check}]]*/ 0; // Thymeleaf에서 가져온 변수
var message = /*[[${msg}]]*/ ''; // Thymeleaf에서 가져온 변수
// Thymeleaf에서 가져온 변수를 JavaScript 코드 내에서 사용합니다.
if (check === 2) {
    alert(message);
}
/*]]>*/
</script>

<div class="wrapper">
  <div class="container signContainer">
    <div class="sign-up-container">
    <!-- 회원가입 성공 시에 성공 메시지를 띄우기 위해 Thymeleaf의 조건문 사용 -->
       	<input type="hidden" th:value="${signup}" name="signupChk">
      	<form name="signup" method="post" action="/signup">
        <h1 style="margin-bottom: 1rem;">Create Account</h1>        
        <input type="text" name="name" placeholder="Name">
        <span class="text-danger" th:text="${valid_name}"></span>
        <input type="email" name="email" placeholder="Email">
        <span class="text-danger" th:text="${valid_email}"></span>
        <div th:if="${error}" th:text="${error}"></div>
        <!-- <button class="send-mail">Send Number</button>
        <input type="text" placeholder="Number">         -->     
        <input type="password" name="password" placeholder="Password">
        <span class="text-danger" th:text="${valid_password}"></span>        
        <button class="form_btn">Sign Up</button>
        <input type="hidden" th:value="${signup}" name="signupChk">
      </form>
    </div>
    <div class="sign-in-container">
      <form method="post" action="/signIn">
        <h1 style="margin-bottom: 1rem;">Sign In</h1>       
        <input type="email" placeholder="Email" name="email" th:value="${user.email}">
        <span class="text-danger" th:text="${valid_email}"></span>
        <input type="password" placeholder="Password" name="password">
        <span class="text-danger" th:text="${valid_password}"></span>
        <button class="form_btn">Sign In</button>
        <a style="margin-top: 1rem;" href="#">
        	<img src="images/kakao_login_medium_narrow.png">
    	</a>
      </form>
      
    </div>
    <div class="overlay-container">
      <div class="overlay-left">
        <h1>Welcome Back</h1>
        <p>To keep connected with us please login with your personal info</p>
        <button id="signIn" class="overlay_btn">Sign In</button>
      </div>
      <div class="overlay-right">
        <h1>Hello, Friend</h1>
        <p>Enter your personal details and start journey with us</p>
        <button id="signUp" class="overlay_btn">Sign Up</button>
      </div>
    </div>
  </div>
</div>