<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/include/header}"></th:block>

<link href="css/sign.css" rel="stylesheet">
<script src="js/sign.js"></script>		

<div class="wrapper">
  <div class="container signContainer">
    <div class="sign-up-container">
    <!-- 회원가입 성공 시에 성공 메시지를 띄우기 위해 Thymeleaf의 조건문 사용 -->
            <div th:if="${success}" class="success-message">회원가입에 성공했습니다!</div>
      <form name="insertUser" method="post">
        <h1 style="margin-bottom: 1rem;">Create Account</h1>        
        <input type="text" name="name" placeholder="Name">
        <input type="email" name="email" placeholder="Email">
        <!-- <button class="send-mail">Send Number</button>
        <input type="text" placeholder="Number">         -->     
        <input type="password" name="password" placeholder="Password">        
        <button class="form_btn">Sign Up</button>
      </form>
    </div>
    <div class="sign-in-container">
      <form method="post" action="/signIn">
        <h1 style="margin-bottom: 1rem;">Sign In</h1>       
        <input type="email" placeholder="Email" name="email">
        <input type="password" placeholder="Password" name="password">
        <button class="form_btn">Sign In</button>
        <a style="margin-top: 1rem;" href="#">
        	<img src="images/kakao_login_medium_narrow.png">
    	</a>
      </form>
      
    </div>
    <div class="overlay-container">
      <div class="overlay-left">
        <h1>Welcome Back</h1>
        <p>To keep connected with us please login with your personal info</p>
        <button id="signIn" class="overlay_btn">Sign In</button>
      </div>
      <div class="overlay-right">
        <h1>Hello, Friend</h1>
        <p>Enter your personal details and start journey with us</p>
        <button id="signUp" class="overlay_btn">Sign Up</button>
      </div>
    </div>
  </div>
</div>