<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.port.chairshop.UserMapper">

	<insert id="insertUser" parameterType="com.port.chairshop.vo.UserVO">
    	INSERT INTO user (name, email, password) VALUES (#{name}, #{email}, #{password})
	</insert>

	<select id="findByEmail" resultType="com.port.chairshop.vo.UserVO">
        SELECT * FROM user WHERE email = #{email}
	</select>
	 
	<select id="selectUser" parameterType="com.port.chairshop.vo.UserVO" resultType="com.port.chairshop.vo.UserVO">
		SELECT * FROM user WHERE email = #{email}
	</select>
	
</mapper>