<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Untree.co">
  <link rel="shortcut icon" href="favicon.png">

  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4" />

      <!-- Bootstrap CSS -->
      <link href="css/bootstrap.min.css" rel="stylesheet">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
      <link href="css/tiny-slider.css" rel="stylesheet">
      <link href="css/style.css" rel="stylesheet">
      
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/tiny-slider.js"></script>
      <script src="js/custom.js"></script>
      
      <title>Aeki</title>
   </head>

   <body>
   		
	  <script th:inline="javascript">
		var check = /*[[${check}]]*/ 0; // Thymeleaf에서 가져온 변수
		var message = /*[[${msg}]]*/ ''; // Thymeleaf에서 가져온 변수
		// Thymeleaf에서 가져온 변수를 JavaScript 코드 내에서 사용합니다.
		if (check === 2) {
		    alert(message);
		}
	  </script>	
	
      <!-- Start Header/Navigation -->
      <nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

         <div class="container">
            <a class="navbar-brand" href="/">Aeki<span>.</span></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsFurni">
               <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                  <li class="nav-item active">
                     <a class="nav-link" href="/">Home</a>
                  </li>
                  <li><a class="nav-link" href="/shop">Shop</a></li>   
                  <li><a class="nav-link" href="/orderList">My Orders</a></li>
               </ul>   

               <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">   
                  <li th:if="${session.user}"><a class="nav-link" href="/index" th:text="${session.user.name} + '님'"></a></li>
                  <li th:if="${session.user}"><a class="nav-link" href="" th:text='로그아웃'></a></li>               
                  <li th:unless="${session.user}"><a class="nav-link" href="/sign"><img src="images/user.svg"></a></li>
                  <li><a class="nav-link" href="/cart"><img src="images/cart.svg"></a></li>
               </ul>
            </div>
         </div>
            
      </nav>
      <!-- End Header/Navigation -->